<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input v-model="tiempo" type="range">{{tiempo}} <br>
        <input v-model="busqueda" type="search" placeholder="Buscar tarea">
        <hr>
        <p v-for="(valor, propiedad) in usuario">{{valor}}: {{propiedad}}</p>
        <hr>
        <li v-for="tarea in filtroTareas">{{tarea.nombre}} - {{tarea.tiempo}}</li>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="script.js"></script>
</body>

</html>
